:root {
  --color-primary: rgb(93, 182, 42);
  --color-primary-dark: rgb(73, 150, 29);

  --font-xs: 1rem;
  --font-sm: 1.25rem;
  --font-md: 2.25rem;
  --font-lg: 3rem;
}

body {
  font-size: var(--font-sm);
  font-family: 'Magra';
}

ul,
li {
  list-style: none;
}

.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.page-header {
  font-size: var(--font-lg);
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
