:root {
  --color-primary: rgb(22, 45, 77);

  --color-secondary: rgb(39, 194, 47);
  --color-secondary-dark: rgb(28, 148, 34);

  --color-gray: rgb(245, 245, 245);

  --font-xs: 1rem;
  --font-sm: 1.25rem;
  --font-md: 2.25rem;
  --font-lg: 3rem;
}

body {
  font-size: var(--font-sm);
  font-family: 'Magra';
}

ul,
li {
  list-style: none;
}

.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.page-header {
  font-size: var(--font-lg);
}

.container {
  max-width: 800px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}
