.container {
  max-width: 600px;
}

header {
  background-color: var(--color-primary);
  color: white;
}

header a,
header a:hover {
  color: white;
  text-decoration: none;
}

img.logo {
  height: 50px;
}

.link {
  color: rgb(238, 238, 238);
  font-size: var(--font-xs);
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: white;
}

.title {
  font-size: var(--font-sm);
}
