.Hero {
  @apply py-16 text-center bg-gray-100 md:text-left;
}

.PromptSection {
  flex: 2;
}

.IllustrationSection {
  flex: 1;

  @apply mt-16 md:mt-0 md:ml-10;
}

.Prompt {
  @apply text-7xl;
}

.SubPrompt {
  @apply mt-12 text-2xl;
}

.Emphasis {
  color: var(--color-primary);
}

.Illustration {
  max-height: 300px;
}
