.container {
  max-width: 600px;
}

header {
  background-color: var(--color-primary-dark);
}

header a,
header a:hover {
  color: white;
  text-decoration: none;
}

img.logo {
  height: 50px;
}

.link {
  color: rgb(207, 207, 207);
  font-size: var(--font-sm);
}

.link:hover {
  text-decoration: none;
}

.active {
  color: white;
}

.title {
  font-size: var(--font-sm);
}
