.container {
  background: url('/img/hero.png');
  position: relative;
  display: flex;
}

.content {
  z-index: 1;
}

.color-overlay {
  background-color: rgba(53, 53, 53, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  max-height: 100px;
  max-width: 100px;
}

.description {
  margin-top: 5em;
}
