.page {
  min-height: 100vh;
}

.link {
  color: rgb(207, 207, 207);
  font-size: var(--font-sm);
}

.link:hover {
  text-decoration: none;
}

.active {
  color: white;
}

.title {
  font-size: var(--font-sm);
}
